<div class="row">
    <div class="col-md-12">
        <h1>Welcome to my website</h1>
        <p>"I will be demonstrating HTML5 principles and techniques, as well as Routing in Express"</p>

        <h2>Overview</h2>
        <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including:
            <ul>
                <li><a href="/students">All Students</a></li>
                <li><a href="/students?course=3">Students by Course</a></li>
                <li><a href="/student/2">A Single Student By Student Number</a></li>
                <li><a href="/managers">All Managers</a></li>
                <li><a href="/courses">All Courses</a></li>
            </ul>
        </p>

        <h2>Introduction to HTML 5</h2>
        <p>"This site utilizes HTML 5: a markup language used for structuring and presenting content on the World Wide Web. HTML5 offers new elements and attributes that reflect the needs of modern web applications and facilitates the development of interactive and multimedia-rich websites.</p>
    </div>
</div>
