<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Demo - WEB700</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Arpan Bansal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/students/add">Add Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/htmlDemo">HTML Demo</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tas">Teaching Assistants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Courses</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <section id="tables">
                    <h2>Tables</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <caption>Table 1: Basic Table</caption>
                            <thead>
                                <tr>
                                    <th rowspan="2">Choclate</th>
                                    <th colspan="2">Biscuits</th>
                                </tr>
                                <tr>
                                    <th>sugar</th>
                                    <th>sugar less</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ahoy</td>
                                    <td>Oreo</td>
                                    <td>McVitie's</td>
                                </tr>
                                <tr>
                                    <td>multi grain</td>
                                    <td>nutri choice</td>
                                    <td>butterscotch</td>
                                </tr>
                                <tr>
                                    <td>caramel</td>
                                    <td>strawberry</td>
                                    <td>wATERMELON</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">Footer Content</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <caption>Table 2: Cars Data</caption>
                            <thead>
                                <tr>
                                    <th>BMW</th>
                                    <th>Mercedes</th>
                                    <th>Pagani</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>m competition</td>
                                    <td>amg</td>
                                    <td>dbx sport</td>
                                </tr>
                                <tr>
                                    <td>m1, m2</td>
                                    <td>G-Wagon</td>
                                    <td>dbx-s</td>
                                </tr>
                                <tr>
                                    <td>m4-csi</td>
                                    <td>Captain</td>
                                    <td>sparrow</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>This section demonstrates the use of HTML tables with various attributes such as rowspan, colspan, thead, tbody, and tfoot.</p>
                </section>

                <section id="lists">
                    <h2>Captain jack sparrow</h2>
                    <ul>
                        <li>Dark knight</li>
                        <li>Justice league
                            <ul>
                                <li>Dark knight rise</li>
                                <li>Shutter Island</li>
                                <li>Civil War</li>
                            </ul>
                        </li>
                        <li>No way home</li>
                        <li>far from home</li>
                        <li>away from home</li>
                    </ul>
                    <p>This section showcases the use of unordered lists with nested lists of different types (unordered within ordered).</p>
                </section>

                <section id="images">
                    <h2>Images</h2>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe">
                            <p>Image 1: Snowboarder in halfpipe</p>
                        </div>
                        <div class="col-md-4 mb-4">
                            <img src="https://en.wikipedia.org/wiki/Jack_Sparrow#/media/File:Jack_Sparrow_In_Pirates_of_the_Caribbean-_At_World's_End.JPG" alt="Placeholder Image">
                            <p>Image 2: Captain jack sparrow</p>
                        </div>
                        <div class="col-md-4 mb-4">
                            <img src="https://via.placeholder.com/300" alt="Placeholder Image">
                            <p>Image 3: Master Gibbs</p>
                        </div>
                    </div>
                    <p>This section includes three images with alternative text, demonstrating the use of images in HTML.</p>
                </section>

                <section id="audio">
                    <h2>Audio</h2>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
                    <p>This section demonstrates the use of HTML5 audio player with two audio sources.</p>
                </section>

                <section id="video">
                    <h2>Video</h2>
                    <video width="100%" controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
                        Your browser does not support the video element.
                    </video>
                    <p>This section demonstrates the use of HTML5 video player with three video sources.</p>
                </section>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
